//项目提供scss全局变量
$color:rgb(110, 161, 216);
$base-menu-width:260px;
//菜单背景色
$base-menu-background:#e0d7d7;
//左侧菜单最小像素 右侧内容离左侧菜单的的宽度
$base-menu-min-width:90px;
$base-tabber-height:50px;
//左侧logo高度设置
$base-logo-height:85px;
//左侧logo标题文字大小
$base-logo-title-fontSize:22px;